.container-service{
    padding: 50px 100px;
}
.container-service>h1{
    text-align: center;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list-card{
    display: flex;
    justify-content: space-between;
    
}
.container-service .list-card .card-service{
    width: 21%;
    height: 350px;
    text-align: center;
    background-color: rgb(53, 48, 48);
    border-radius: 10px;
    padding: 20px 30px;
}

.container-service .list-card .card-service svg:nth-child(1){
    color: red;
    width: 50px;
    height: 50px;
}
.container-service .list-card .card-service h3:nth-child(2){
    font-size: 20px;
    padding: 20px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-service .list-card .card-service p:nth-child(3){
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(200, 209, 218);
}

.container-service .list-card .card-service button:nth-child(4){
    border: none;
    background-color: red;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-service .list-card .card-service button:nth-child(4):hover{
    border: 1px solid #350b0b;
    background-color: #551d1d;
}



