*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


/* Mobile devices (Small phones, 320px - 480px) */
@media (max-width: 480px) {
    /* Styles cho các điện thoại nhỏ */
  }
  
  /* Mobile devices (Large phones, 481px - 767px) */
  @media (max-width: 767px) {
    /* Styles cho các điện thoại lớn */
  }
  
  /* Tablets (768px - 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Styles cho các thiết bị máy tính bảng */
  }
  
  /* Laptops (1025px - 1280px) */
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles cho laptop */
  }
  
  /* Desktops (1281px and up) */
  @media (min-width: 1281px) {
    /* Styles cho các màn hình lớn hơn (máy tính để bàn) */
  }